<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta name="description" content="JAMstack ServerLess" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/styles.css" type="text/css" rel="stylesheet" />
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icon.png" type="image/png" rel="icon">
</head>
<body class="container">
    {% block content %}{% endblock content %}
</body></html>